bin
obj
/.vs
/.idea
/BRB5.sln
/.user
/BRB5/BRB5.Android/BRB5.Android.csproj.user
/BRB5/BRB5.Android/BRB5.Android.csproj.user
/BRB5/BRB5.Android/Resources/Resource.designer.cs
/BRB5_alina(3).mobileprovision
