<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5246" android:versionName="5.2.46" package="ua.UniCS.TM.brb5" android:installLocation="preferExternal" android:requestLegacyExternalStorage="true">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />	
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="BRB5.Android" android:theme="@style/MainTheme">
		<provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.provider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
		</provider>
		<receiver android:enabled="true" android:name="crc64e026af3160c51257.MyBroadcastReceiver" android:exported="true">
			<intent-filter>
				<action android:name="device.scanner.EVENT" />
				<action android:name="ua.uz.vopak.brb4" />
				<action android:name="com.symbol.datawedge.api.ACTION" />
				<action android:name="com.scanner.broadcast" />
			</intent-filter>
		</receiver>
	</application>
</manifest>