<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MinimumOSVersion</key>
	<string>14.3</string>
	<key>CFBundleDisplayName</key>
	<string>BRB5</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleIdentifier</key>
	<string>ua.uz.spar.brb5</string>
	<key>CFBundleName</key>
	<string>BRB5</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>CICON wants to use your camera to scan QR code and barcode, wardrobe item&apos;s picture</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>CICON needs access to your microphone for taking videos</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>CICON app needs access to the photo gallery to pick photos for user avatar and chat.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>CICON app needs access to the photo gallery to pick photos for user avatar and chat.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App needs access to Location to find the nearest store</string>
	<key>CFBundleShortVersionString</key>
	<string>5.2.55</string>
	<key>CFBundleVersion</key>
	<string>55</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/BRB5.appiconset</string>
</dict>
</plist>
